/* Variables de colores */
:root {
    --color-primario: #50FF6C; /* Azul para enlaces y acentos */
    --color-secundario: #121212; /* Gris claro para fondos */
    --color-texto: #ffffff; /* Texto general */
    --color-borde: #ddd; /* Bordes de elementos */
}

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-texto);
    background-color: var(--color-secundario);
}

main {
    padding: 20px;
}

h1, h2, h3, p {
    margin: 0;
}

/* Header / Title */
.portfolio__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-primario);
}

.portfolio__description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--color-texto);
}

.portfolio__description2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
}


/* Aplicativos que manejo */
.port__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
   
    margin-bottom: 30px;
}

.port__icons img {
    width: 60px;
    height: 60px;
   
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.port__icons img:hover {
    transform: scale(1.1);
}

/* Formación */
.formacion {
    text-align: center;
    margin-bottom: 30px;
}

.formacion__tittle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-primario);
}

/* Diseños de marca */
.portfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.portfolio__item {
    text-align: center;
    border: 1px;
    border-radius: 5px;
    padding: 15px;
    background-color: #1e1b1b;
    transition: box-shadow 0.3s ease;
}
.portfolio__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

}


.portfolio__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}




/* Contenedor Fasty */
.fasty-container {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

/* Imagen Fasty */
.fasty__img {
    max-width: 50%; 
    height: auto;
    border-radius: 5px;
    flex-shrink: 0;
}

/* Descripción Fasty */
.fasty-desc {
    flex: 1; 
    text-align: left;
}
.fasty__img:hover {
    transform: translateY(-10px);
}

/* Contenedor SecureSteps */
.securesteps__container {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

/* Imagen SecureSteps */
.securesteps__img {
    max-width: 50%; 
    height: auto;
    border-radius: 5px;
    flex-shrink: 0;
}

.securesteps__img:hover{
    transform: translateY(-10px);
}

/* Descripción SecureSteps */
.securesteps__desc {
    flex: 1; 
    text-align: left;
}

/* Títulos de los contenedores */
.fasty__tittle, .securesteps__tittle {
    font-size: 50px;
    color: var(--color-primario);
    margin-bottom: 10px;
}

/* Texto */
.fasty-desc p, .securesteps__desc p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-texto);
}

/* Diseño responsivo */
@media (max-width: 768px) {



    .portfolio__title {
        font-size: 1.5rem;
    }

    .portfolio__description {
        font-size: 1rem;
    }

    .formacion__tittle, .design__tittle, .designuxui__tittle {
        font-size: 1.2rem;
    }


    .portfolio__items {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    /* Contenedor Fasty y SecureSteps en columna */
    .fasty-container, .securesteps__container {
        flex-direction: column;
        text-align: center;
    }

    /* Reubicación del título SecureSteps */
    .securesteps__desc {
        order: -1; 
    text-align: center;
    flex: 1;
    }

    /* Asegurar que el título SecureSteps esté arriba */
    .securesteps__tittle {
        order: -1;
        margin-bottom: 5px;
    }

    /* Imágenes responsivas */
    .fasty__img, .securesteps__img {
        max-width: 100%; /* La imagen ocupa el ancho completo */
    }

    /* Descripciones */
    .fasty-desc, .securesteps__desc {
        margin-bottom: 10px; /* Espacio entre el texto y la imagen */
    }
    /* Responsive del titulo */
    .fasty__tittle, .securesteps__tittle{
        font-size: 1.5rem;
    }
}



/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: var(--color-secundario);
    margin-top: 20px;
    color: var(--color-texto);
}

footer a {
    color: var(--color-primario);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
